@using HumanResources.Web.Enums;
@model Employee

@{
	ViewData["Title"] = "Edit";
}
<div class="card p-5 shadow">
	<form action="/employee/delete" method="post">
		<h3>Are you sure to delete data for @Model.Name?</h3>
		<input type="hidden" asp-for="Id" />
		<button type="submit" class="btn btn-danger">Delete</button>
		<a href="/employee/index" class="btn btn-success">Cancel</a>
	</form>
</div>